global
    log         127.0.0.1 local2
    chroot      /var/opt/rh/rh-haproxy18/lib/haproxy
    pidfile     /var/run/rh-haproxy18-haproxy.pid
    maxconn     12000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/opt/rh/rh-haproxy18/lib/haproxy/stats mode 777
    tune.ssl.default-dh-param 2048

defaults
    mode                        http
#    option                      httplog
    log                         global
    option                      dontlognull
    option                      http-server-close
    option                      forwardfor except 127.0.0.0/8
    option                      redispatch
    retries                     3
    timeout http-request        3s
    timeout queue               1m
    timeout connect             1s
    timeout client              1m
    timeout server              1m
    timeout http-keep-alive     3s
    timeout check               3s
    log-format {"haproxy_clientIP":"%ci","haproxy_clientPort":"%cp","haproxy_dateTime":"%t","haproxy_frontendNameTransport":"%ft","haproxy_backend":"%b","haproxy_serverName":"%s","haproxy_Tw":%Tw,"haproxy_Tc":%Tc,"haproxy_Tt":%Tt,"haproxy_bytesRead":%B,"haproxy_terminationState":"%ts","haproxy_actconn":%ac,"haproxy_FrontendCurrentConn":%fc,"haproxy_backendCurrentConn":%bc,"haproxy_serverConcurrentConn":%sc,"haproxy_retries":%rc,"haproxy_srvQueue":%sq,"haproxy_backendQueue":%bq,"haproxy_backendSourceIP":"%bi","haproxy_backendSourcePort":"%bp"}

frontend  prod
    bind :8080
    #monitor-uri /health
    #option      dontlognull
    acl acl-servicerequest  path_beg    /servicerequest
    acl acl-getPrice     path_beg       /getPrice
    acl acl-chargeAmount         path_beg       /chargeAmount
    acl acl-accountcurrentBlockStatus path_beg /account

    use_backend     be-srp-prod if acl-servicerequest
    use_backend     be-getPrice if acl-getPrice
    use_backend     be-chargeAmount if acl-chargeAmount
    use_backend     be-accountcurrentBlockStatus  if  acl-accountcurrentBlockStatus
    default_backend nomatch

frontend  prod_https
#    bind :443 ssl crt {{install_haproxy_pem_dir}}/haproxy_F5_https.pem
    bind :443 ssl crt {{install_haproxy_pem_dir}}/haproxy_F5_hostname_https.pem
    mode http
    acl acl-servicerequest  path_beg    /serviceawesome
    acl acl-getPrice     path_beg       /getStuff
    acl acl-chargeAmount         path_beg       /chargetheStuff
    acl acl-ngccopsview   path_beg    /opsview
    acl acl-accountcurrentBlockStatus path_beg /block
    acl acl-arcServices path_beg /xServices

    use_backend     be-ngccopsview  if  acl-ngccopsview
    use_backend     be-accountcurrentBlockStatus  if  acl-accountcurrentBlockStatus
    use_backend     be-arcServices if acl-arcServices
#   use_backend     be-partialCycle201 if acl-arcServices
    use_backend     be-srp-prod if acl-servicerequest
    use_backend     be-getPrice if acl-getPrice
    use_backend     be-chargeAmount if acl-chargeAmount
    default_backend nomatch

frontend  qa
    bind :8082
    mode http
    default_backend nomatch

frontend  qa_https
#    bind :8443 ssl crt {{install_haproxy_pem_dir}}/haproxy_F5_https.pem crt {{install_haproxy_pem_dir}}/haproxy_prod_https.pem
    bind :8443 ssl crt {{install_haproxy_pem_dir}}/haproxy_F5_hostname_https.pem crt {{install_haproxy_pem_dir}}/haproxy_prod_https.pem
    mode http
    default_backend nomatch

backend be-accountcurrentBlockStatus
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
{% for host in groups['swarm-red'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:8097 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend be-ngccopsview
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
    reqadd X-Forwarded-Proto:\ https
{% for host in groups['swarm-red'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:5000 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend be-srp-prod
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
{% for host in groups['swarm-red'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:8110 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend be-arcServices
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
{% for host in groups['swarm-blue'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:8121 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend be-getPrice
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
{% for host in groups['swarm-blue'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:8082 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend be-chargeAmount
    mode        http
    cookie      SERVERID insert indirect nocache
    option httpchk GET /health
    cookie JSESSIONID prefix nocache
{% for host in groups['swarm-blue'] %}
        server  {{ host }}       {{ hostvars[host].ansible_host }}:8080 weight 15 check cookie s{{loop.index}}
{% endfor %}

backend nomatch
    errorfile 503 {{ install_haproxy_errorfile_dir }}/404.http

backend error503
    errorfile 503 {{ install_haproxy_errorfile_dir }}/503.http

backend be-partialCycle201
    mode http
    errorfile 503 {{ install_haproxy_errorfile_dir }}/custom.http

listen stats
        bind :9000
        mode http
        stats enable
        stats realm Haproxy\ Statistics
        stats uri /stats
        stats auth admin:admin123123!!111!!!111!!!!
