# {{ ansible_managed | comment }}
[Service]
{% if install_docker_proxy_enabled|bool %}
Environment="HTTP_PROXY=http://{{proxy_host}}:{{proxy_port}}"
Environment="HTTPS_PROXY=http://{{proxy_host}}:{{proxy_port}}"
Environment="no_proxy=localhost,127.0.0.1,192.168.20.105,{{ groups['swarm-hosts'] | map('extract', hostvars, ['ansible_' + swarm_iface | default('eth0'), 'ipv4', 'address']) | join(',') }}"
{% endif %}
ExecStart=
ExecStart=/usr/bin/dockerd -H unix:///var/run/docker.sock --insecure-registry 192.168.20.105:5000 --log-opt mode=non-blocking
