[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [ 5672 ] },
                { ssl_listeners, [ ] },
                { hipe_compile, false },
                { cluster_nodes, {[ {% for server in ansible_play_batch %}'rabbit@{{ hostvars[server]['ansible_hostname'] }}'{% if not loop.last %},{% endif %}{% endfor %} ], disc}}
        ] },
        {kernel, [
          {inet_dist_listen_max, 44001},
          {inet_dist_listen_min, 44001}
        ]},
        { rabbitmq_management, [ 
			{listener, [{ port, 15672}]},
			{ ssl, false },
			{ load_definitions, "/etc/rabbitmq/definitions.json"}
	] }
].
