# {{ ansible_managed | comment }}
# Run system activity accounting tool every 10 minutes
*/{{ install_sar_cron_interval }} * * * * root /usr/lib64/sa/sa1 1 1
# 0 * * * * root /usr/lib64/sa/sa1 600 6 &
# Generate a daily summary of process accounting at 23:53
53 23 * * * root /usr/lib64/sa/sa2 -A

